@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;600&display=swap");

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.2;
  vertical-align: baseline;
}

picture,
img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type="button"],
input[type="checkbox"],
input[type="radio"],
input[type="submit"] {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

address {
  font-style: normal;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

/*----------------End of reset styles--------------------*/

:root {
  font-family: Blinker, sans-serif;
}

.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ibg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.container,
.header__container {
  max-width: 1026px;
  padding-left: 12px;
  padding-right: 22px;
  margin: 0 auto;
}

.title {
  color: white;
  font-size: 36px;
  font-size: 24px;
}

.btn {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow 0.4s 0.4s;
  transition: -webkit-box-shadow 0.4s 0.4s;
  -o-transition: box-shadow 0.4s 0.4s;
  transition: box-shadow 0.4s 0.4s;
  transition: box-shadow 0.4s 0.4s, -webkit-box-shadow 0.4s 0.4s;
}

.btn:hover {
  -webkit-box-shadow: #3bd071 0 0 25px 3px;
  box-shadow: #3bd071 0 0 25px 3px;
}

.btn:hover .btn__waves:before,
.btn:hover .btn__waves:after {
  bottom: 140%;
}

.btn__text {
  position: relative;
  z-index: 1;
  color: white;
  display: inline-block;
  padding: 10px 17px;
  font-size: 18px;
  line-height: 1.2em;
}

.btn__waves {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: #3bd071;
}

.btn__waves:before,
.btn__waves:after {
  position: absolute;
  content: "";
  bottom: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 250%;
  padding-top: 250%;
  -webkit-transition: 1.2s;
  -o-transition: 1.2s;
  transition: 1.2s;
}

.btn__waves:before {
  background-color: black;
  border-radius: 48%;
  -webkit-animation: wave 5s linear infinite;
  animation: wave 5s linear infinite;
}

.btn__waves:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 42%;
  -webkit-animation: wave 10s linear infinite;
  animation: wave 10s linear infinite;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: translateX(-50%) rotate(0);
    transform: translateX(-50%) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-50%) rotate(360deg);
    transform: translateX(-50%) rotate(360deg);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: translateX(-50%) rotate(0);
    transform: translateX(-50%) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-50%) rotate(360deg);
    transform: translateX(-50%) rotate(360deg);
  }
}

.wrapper {
  min-height: 100vh;
}

.page {
  background-color: #373737;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.page__wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page__screen {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
}

.page__pagination {
  position: absolute;
  top: 50%;
  right: 37px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.8s ease;
  -o-transition: 0.8s ease;
  transition: 0.8s ease;
}

.page__pagination._hidden {
  right: -12px;
}

._free .page__pagination {
  display: none;
}

.page__bullet {
  border: 1px solid grey;
  margin: 4px 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  opacity: 0.4;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.page__bullet_active {
  opacity: 1;
}

.page__scroll {
  position: fixed;
  z-index: 11;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

.page__drag-scroll {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  min-height: 45px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.8s ease;
  -o-transition: 0.8s ease;
  transition: 0.8s ease;
}

.header._hidden {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.header__container {
  padding-top: 8px;
  padding-bottom: 8px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__menu {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.header__brand {
  color: white;
  font-size: 24px;
  line-height: 1.2em;
}

.header__brand a {
  color: inherit;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu__link {
  color: #b3b3b3;
  font-size: 18px;
  line-height: 1.2em;
}

.menu__link._active {
  color: white;
}

.home {
  position: relative;
}

.home__wrapper {
  height: 100%;
}

.webp .home__wrapper {
  background-image: url("../img/home/bg.webp");
}

.no-webp .home__wrapper {
  background-image: url("../img/home/bg.jpg");
}

.home__container {
  padding-top: 79px;
  padding-bottom: 79px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.home__row {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 880px;
  flex: 0 1 880px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
}

.home__right {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 500px;
  flex: 0 1 500px;
  padding: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2em;
  margin-bottom: 12px;
}

.home__title span {
  color: purple;
}

.home__text {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.2em;
  margin-bottom: 50px;
}

.home__btn {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.home__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 294px;
  flex: 0 1 294px;
  padding: 12px;
}

.home__portrait {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 100%;
}

.home__portrait:before {
  content: "";
  padding-top: 100%;
  width: 100%;
  display: block;
}

.home__portrait img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.home__mouse {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.home__mouse:hover {
  -webkit-animation: up-down 1s ease-in-out infinite alternate;
  animation: up-down 1s ease-in-out infinite alternate;
}

._free .home__mouse {
  display: none;
}

@-webkit-keyframes up-down {
  0% {
    bottom: 40px;
  }

  100% {
    bottom: 10px;
  }
}

@keyframes up-down {
  0% {
    bottom: 40px;
  }

  100% {
    bottom: 10px;
  }
}

.about__container {
  height: 100%;
  padding-top: 79px;
  padding-bottom: 30px;
}

.about__body {
  height: 100%;
}

.about__col {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.about__row:last-child {
  margin-bottom: 0;
}

.about__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.a-item {
  margin-bottom: 30px;
}

.a-item__title {
  color: white;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}

.a-item__item {
  color: white;
  font-size: 18px;
  line-height: 1.2em;
}

.a-item__pic {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 120px;
}

.portfolio {
  position: relative;
}

.portfolio__wrapper {
  height: 100%;
}

.webp .portfolio__wrapper {
  background-image: url("../img/portfolio/bg.webp");
}

.no-webp .portfolio__wrapper {
  background-image: url("../img/portfolio/bg.jpg");
}

.portfolio__container {
  height: 100%;
  padding: 79px 0;
}

.portfolio__body {
  height: 100%;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.portfolio__top {
  margin-bottom: 20px;
}

.portfolio__title {
  text-align: center;
  color: white;
  font-size: 36px;
  line-height: 1.2em;
}

.portfolio__slider {
  width: 100%;
}

.portfolio__swipe-icon {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation: left-right 1.2s linear infinite alternate;
  animation: left-right 1.2s linear infinite alternate;
}

.portfolio__swipe-icon img {
  width: 60px;
}

@-webkit-keyframes left-right {
  from {
    left: 48%;
  }

  to {
    left: 52%;
  }
}

@keyframes left-right {
  from {
    left: 48%;
  }

  to {
    left: 52%;
  }
}

.prt-slider {
  position: relative;
  overflow: hidden;
}

.prt-slider__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.prt-slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  padding-left: 6px;
  padding-right: 6px;
  -ms-flex-preferred-size: 260px;
  flex-basis: 260px;
  padding-bottom: 35px;
}

.prt-slide__body {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 30px 30px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 30px 30px 8px rgba(0, 0, 0, 0.25);
}

.prt-slide__body:hover img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.prt-slide__picture {
  position: relative;
  overflow: hidden;
}

.prt-slide__picture:before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 56.25%;
}

.prt-slide__picture img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  -webkit-transition: 0.8s ease;
  -o-transition: 0.8s ease;
  transition: 0.8s ease;
}

.prt-slide__title {
  padding: 8px 12px;
  text-align: center;
  color: white;
  font-size: 18px;
  line-height: 1.2em;
}

.contact__container {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mycontacts {
  height: 100%;
}

.mycontacts__container {
  height: 100%;
  padding-top: 79px;
  padding-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mycontacts__title {
  margin-bottom: 28px;
}

.mycontacts__item {
  margin-bottom: 20px;
}

.mycontacts__item:last-child {
  margin-bottom: 0;
}

.mycontacts__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  color: white;
}

.mycontacts__link img {
  margin-right: 25px;
}

.mycontacts__link span:after {
  content: "";
  position: absolute;
  background-color: white;
  height: 2px;
  width: 0;
  bottom: -4px;
  left: 50%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.mycontacts__link:hover span:after {
  width: 100%;
  left: 0;
}

.footer {
  background-color: black;
}

.footer__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 220px;
}

.footer__title {
  color: white;
  font-size: 24px;
}

.footer__title a {
  color: white;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer__title a:hover {
  color: #8a8a8a;
}

.footer__copyright {
  font-size: 18px;
  color: #8a8a8a;
}

@media only all and (min-width: 320px) {
  .title {
    font-size: calc(100vw * 0.03288 - -13.47945px);
  }

  .btn__text {
    font-size: calc(100vw * 0.01644 - -12.73973px);
  }

  .header__brand {
    font-size: calc(100vw * 0.01644 - -18.73973px);
  }

  .menu__link {
    font-size: calc(100vw * 0.01644 - -12.73973px);
  }

  .home__title {
    font-size: calc(100vw * 0.01644 - -18.73973px);
  }

  .home__text {
    font-size: calc(100vw * 0.01644 - -14.73973px);
  }

  .a-item__title {
    font-size: calc(100vw * 0.01644 - -18.73973px);
  }

  .a-item__item {
    font-size: calc(100vw * 0.01644 - -12.73973px);
  }

  .a-item__pic {
    width: calc(100vw * 0.10959 - -84.93151px);
  }

  .portfolio__body {
    padding-top: calc(100vw * 0.03438 - 11px);
  }

  .prt-slide {
    padding-left: calc(100vw * 0.03062 - 3.8px);
    padding-right: calc(100vw * 0.03062 - 3.8px);
  }

  .prt-slide {
    -ms-flex-preferred-size: calc(100vw * 0.3375 - -152px);
    flex-basis: calc(100vw * 0.3375 - -152px);
  }

  .mycontacts__link {
    font-size: calc(100vw * 0.01644 - -12.73973px);
  }
}

@media only all and (min-width: 685px) {
  .title {
    font-size: 36px;
  }

  .btn__text {
    font-size: 24px;
  }

  .header__menu {
    margin-right: 70px;
  }

  .header__brand {
    font-size: 30px;
  }

  .menu__link {
    font-size: 24px;
  }

  .home__title {
    font-size: 30px;
  }

  .home__text {
    font-size: 26px;
  }

  .about__item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .about__item._order {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .a-item__title {
    font-size: 30px;
  }

  .a-item__item {
    font-size: 24px;
  }

  .a-item__pic {
    width: 160px;
  }

  .mycontacts__link {
    font-size: 24px;
  }
}

@media only all and (min-width: 992px) {
  .header__menu {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }

  .menu__item {
    margin-right: 70px;
  }

  .menu__item:last-child {
    margin-right: 0;
  }
}

@media only all and (min-width: 1920px) {
  .portfolio__body {
    padding-top: 55px;
  }

  .prt-slide {
    padding-left: 55px;
    padding-right: 55px;
  }

  .prt-slide {
    -ms-flex-preferred-size: 800px;
    flex-basis: 800px;
  }
}

@media only all and (max-width: 684px) {
  .header__brand {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
}

@media only all and (max-width: 575px) {
  .home__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .home__left {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 160px;
    flex: 0 1 160px;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *:before,
  *:after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
